# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2675876bb1fd57ed6f72577ffac7fb4ddc282432c0fdfdb8b9f851283a72e6b64ba4389020e2c29646150a6b9f04012565fd769519cc874cd3ca038a3c4f6a7c

test:
  secret_key_base: 51309b722b7b43c1162a19ec48e8a7619faa906acba9c2ee7a4616477fe11b6769a2b7fe4038d5c736945f5e4b171970b028b349c1b94c02a136c730b7355465

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
